<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles/bootstrap.css" type="text/css">
<link rel="stylesheet" href="styles/results.css" type="text/css">
<link rel="stylesheet" href="styles/bootstrap-responsive.css" type="text/css">
<title>Yaksh: {{ search_query }}</title>
<script type="text/javascript" src="styles/paging.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
		<span class="brand">
		<h2><a href="/"><strong class="orange">Yaksh</strong></a></h2></span>
		<form class="navbar-form form-inline" action="/search" method="GET" id="searchbox">
  				<input type="text" name="search_query" class="input-xlarge" id="searchinput">
  				<button type="submit" class="btn btn-warning"><i class="icon-search icon-white"></i></button>
		</form>
</div>
</div>
</div>

<div class="container">
		<div class="row">
			<div class="span6">
		<h4>You searched for: <strong class="orange">
		%for word in query_string_words:
		<a href="/search?search_query={{ word }}">{{ word }}</a>
		%end
		</strong></h4>

		<!--
		%if not results:
			<p>No results found for {{ search_query }}. Try clicking on one of the individual terms above.<p>
		%end
		</div>
		</div>
	-->


	<!--	
		<div class="row">
		<div class="span5" id="fixed">
			<div class="span7">
			%if page_dicts:
				<div>
				<h2>Webpages:</h2>
				%for page in page_dicts:
				<div class="results well">
				<strong>
					%if page['doc']:
					[PDF] 
					%end
				{{ page['title'] }}</strong>
				<p><a href="{{ page['url'] }}">{{ page['url'][:70] }}</a></p>
					%if show_daverank:
					<p><code>PageRank: {{ page['pagerank'] }}</code></p>
					%end
				<p>{{ page['text'] }}…</p>				
				</div>
				%end
			%end
				</div>
			</div>
		</div>
	</div>
	-->

	<div class="row">
		<div class="span5" id="fixed">
			<div class="span7">
			
				<div>
				<h4>Results:</h4>
				<div id="results">

				<div class="results well">
					<strong>
						Facebook
					</strong>
					<p><a href="https://www.facebook.com/">https://www.facebook.com</a></p>
				</div>

				<div class="results well">
					<strong>
						Apple
					</strong>
					<p><a href="https://www.facebook.com/">https://www.facebook.com</a></p>	
				</div>

				<div class="results well">
					<strong>
						Google
					</strong>
					<p><a href="https://www.facebook.com/">https://www.facebook.com</a></p>
					
				</div>

				<div class="results well">
					<strong>
						Microsoft
					</strong>
					<p><a href="https://www.facebook.com/">https://www.facebook.com</a></p>
					
				</div>

				<div class="results well">
					<strong>
						Amazon
					</strong>
					<p><a href="https://www.facebook.com/">https://www.facebook.com</a></p>
					
				</div>

				<div class="results well">
					<strong>
						Taser
					</strong>
					<p><a href="https://www.facebook.com/">https://www.facebook.com</a></p>
						
				</div>
				<div id="pageNavPosition"></div>

				</div>

				</div>
			</div>
		</div>
	</div>


</div>
<script type="text/javascript"><!--
        var pager = new Pager('results', 2); 
        pager.init(); 
        pager.showPageNav('pager', 'pageNavPosition'); 
        pager.showPage(1);
    //--></script>
</body>
</html>
