body { padding-top: 80px; }

.orange { color: #F7A900; }

a { color: #F7A900; }

a:hover { color: #F7A900; }

code { color: #000000; }

.navbar h2 a { color: #ffffff; }

.navbar .brand { text-shadow: none; }

.navbar-form { margin-top: 20px; }

.navbar-inner {
  background-color: #686868;
  background-image: -moz-linear-gradient(top, #686868, #333333);
  background-image: -ms-linear-gradient(top, #686868, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#686868), to(#333333));
  background-image: -webkit-linear-gradient(top, #686868, #333333);
  background-image: -o-linear-gradient(top, #686868, #333333);
  background-image: linear-gradient(top, #686868, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#686868', endColorstr='#333333', GradientType=0);
}

#fixed { width: 470px; }

.icon {
  display: inline;
  vertical-align: middle;
}

.source { font-size: 120%; }


#searchbox{ 
    
    width: 560px;
    white-space: nowrap;
}

#searchinput{ 
    
    width: 500px; 
    white-space: nowrap;
}

.box{
    display: none;
}

p:hover + .box,.box:hover{
    display: block;
    z-index: 100;
}

.hoverbox{

}

#frame {
    width: 900px;
    height: 1000px;
    border: none;
    position:absolute;
    top: 120px;
    left: 850px;
    right: 40px;
    bottom: 40px;
    -moz-transform: scale(0.8);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.8);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}